.container{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-neutral1);
  min-height: 72px;
  align-items: center;
  padding: 0 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  p{
    color: var(--color-neutral2);
    font-size: var(--font-size-mob-xs);
  }
  a{
    font-weight: bold;
    font-size: var(--font-size-mob-l);
  }
}