.footer{
  display:none;
  @include bp.desktop {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(23, 124, 206, 1) 0%, rgba(36, 163, 249, 1) 49.87%, rgba(86, 204, 251, 1) 100%);
    padding: 42px 0 56px;
    min-height: 696px;
    justify-content: space-between;
    width: 100%;
  }
}

.container {
display: none;

  @include bp.desktop{
    color: var(--color-neutral1);
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

.addressBlock {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: start;
}

.title{
  font-size: var(--font-size-xl);
  display: flex;
  gap: 7px;
  margin-left: -4px;

}

.title:before{
  content: "";
  background-image: url("../../../../public/footer/location-icon.svg");
  width: 26px;
  height: 26px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.addressList{
  display:flex;
  flex-direction: column;
  gap:17px;
  list-style-type: none;
  font-size: var(--font-size-s);
  line-height: 18px;
  li {
    display: flex;
    gap: 16px;
    span{
      display: block;
    }
  }
  li:before {
    content: "";
    min-width: 13px;
    height: 13px;
    display: block;
    background-color: var(--color-neutral1);
    border-radius: 50%;
    margin-top: 6px;
  }
}

.contacts{
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-self: start;
  margin-left: -4px;
  padding-top: 3px;
  p{
    font-size: var(--font-size-xl);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 11px;
  }
  p:before{
    content: "";
    background-image: url("../../../../public/footer/mobile.svg");
    width: 22px;
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  a{
    font-size: var(--font-size-xl);
    padding-left: 35px;
  }
}

.describer{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap:9px;
  align-items: center;
  padding-top: 23px;
  p{
    font-size: var(--font-size-mob-xs);
    line-height:normal;
    color: var(--color-neutral5);
  }
}

.socials{
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-self: end;
  img{
    width: 42px;
    height: 42px;
  }
}
.mainFooter{
  display:none;

}

.contentWrapper{
  display: flex;
  gap: 130px;
}

.footerLogo{
  width: 181px;
  height: auto;
  display: block;
  @include bp.desktop{
    width: 203px;
    height: auto;
  }
}

.contactsWrapper{
  gap: 36px;
  display: flex;
  flex-direction: column;
}