.container {

  padding: 31px 28px 40px;
  width: 350px;
  min-height: 365px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 29px;
  @include bp.desktop{
    width: 466px;
    min-height: 419px;
    justify-content: space-between;
  }
}

.exitButtonWrapper{
  width:40px;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}

.iconsContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 22px;
  @include bp.desktop{
    font-size: 24px;
    font-weight: 600;
  }

}

.description{
  font-size: 14px;
  color: var(--color-neutral7);
  @include bp.desktop{
    font-size: 15px;
  }
}

.editWrapper {
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.input{
  width: 100%;
  background-color: var(--color-neutral6);
  border: none;
  outline: none;
  min-height:40px;
  border-radius: 17px;
  padding-left: 12px;
  font-size: 15px;

  &::placeholder{
    color: rgba(133, 133, 133, 0.65);
    font-size: 12px;

  }
  @include bp.desktop{
    min-height: 50px;
    &::placeholder{
      font-size: 14px;
    }
  }
}

.error{
  font-size: var(--font-size-mob-xs);
  color: #F00;
  min-height: 28px;
  padding-left: 12px;
  width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.button{
  width: 259px;
  height: 56px;
  border-radius: 16px;
  font-size: var(--font-size-mob-l);
  color: var(--color-neutral1);
  background: var(--button-gradient);
  align-self: center;
  cursor: pointer;
  &:disabled{
    background:rgba(36, 74, 127, 0.06);
    color: #BCBCBC;
    cursor: not-allowed;
  }
}

.titleWrapper{
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
