.container {
  padding: 10px 0;
  width: 100%;
  display: flex;
  gap: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include bp.desktop {
    padding: 15px 0;
    max-width: 1200px;
  }
}
