.container {
  display: none;
  @include bp.desktop {
    min-height: 54px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
  }
}

.dialogContent {
  position: fixed;
  top: 96px;
  z-index: 1;
  outline: none;
  width: 100%;
}

.navContainer {
  width: 100%;
  display: flex;
  gap: 26px;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 54px;
  background-color: #f0f0f0;
  align-items: center;
  border-radius: 21px;
  box-shadow: 0 4px 8.9px 0 rgba(98, 98, 98, 0.1) inset;
}

.button {
  appearance: none;
  background-image: linear-gradient(#fff, #fff), var(--button-border-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 2px solid transparent;
  box-shadow:
    0 1px 1.9px 0 rgba(0, 0, 0, 0.1),
    0 4px 4px 0 rgba(195, 195, 195, 0.18) inset;
  border-radius: 10px;
  font-size: var(--font-size-mob-xl);
  height: 32px;
  width: 82px;
  span {
    background-image: var(--gradient-text);
    color: transparent;
    background-clip: text;
  }
}

.buttonActive {
  background-image: var(--main-button-gradient);
  span {
    color: var(--color-neutral1);
  }
}

.activeNav {
  path {
    fill: url(#desktop);
  }
  rect {
    fill: url(#desktop);
  }
}
