.container {
  min-height: 277px;
  background-repeat: no-repeat;
  border-radius: 24px;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 17px 10px 13px;

  @include bp.desktop {
    min-height: 431px;
    padding-top: 19px;
    padding-bottom: 14px;
  }
}

.title {
  font-size: var(--font-size-mob-xxxl);
  font-weight: 900;
  padding-left: 10px;
  text-shadow: 0 3px 4px 0 rgba(6, 50, 116, 0.2);
  white-space: pre-line;
  line-height: 100%;
  span {
    display: block;
  }
  @include bp.desktop {
    font-size: var(--font-size-xxxxl);
  }
}

.descriptionWrapper {
  background: linear-gradient(90deg, #ff9d00 0%, #ffde5c 100%);
  width: 191px;
  height: 40px;
  border-radius: 9px 0 0 9px;
  position: absolute;
  right: 0;
  top: 96px;
  display: flex;
  align-items: center;
  padding-left: 9px;
  @include bp.desktop {
    width: 372px;
    height: 59px;
    padding-left: 22px;
    top: 152px;
  }
}

.description {
  color: rgba(42, 42, 42, 1);
  font-size: var(--font-size-mob-20px);
  span {
    display: block;
  }
  @include bp.desktop {
    font-size: 25px;
    line-height: 25px;
  }
}

.link {
  width: max-content;
}
