.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 20px;
  @include bp.desktop{
    align-items: center;
    gap: 30px;
  }
}

.cardSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  @include bp.desktop{
    column-gap: 21px;
    row-gap: 24px;
    justify-content: center;
  }
}

.title {
  font-size: var(--font-size-mob-xxl);
  @include bp.desktop{
    font-size:var(--font-size-xxxl);
    align-self: center;
  }
}

.addsBunner {
  width: 100%;
  height: 91px;
  border-radius: 15px;
  background-image: url('#{$base}/adds/add.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include bp.desktop{
    display:none;
  }
}
