.container {
  padding: 10px 0;
  @include bp.desktop{
    padding: 15px 120px;
  }
}


// #region project-slider
.sliderContainer {
  width: 100%;
  position: relative;

  @include bp.desktop {
    display: flex;
    gap: 34px;

    max-width: 724px;
    height: 616px;
  }

  @include bp.desktop-1200 {
    max-width: 798px;
    height: 500px;
  }
}

.thumbsSwiper {
  display: none;
}

.sliderImg {
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.backButton {
  position: absolute;
  top: 12px;
  left: 20px;

  width: 42px;
  height: 43px;

  border: none;
  background-color: transparent;
  background-image: url('/ui-icons/back.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 2;

  @include bp.desktop {
    display: none;
  }
}

.shareButton {
  position: absolute;
  top: 12px;
  right: 20px;

  width: 42px;
  height: 43px;

  border: none;
  background-color: transparent;
  background-image: url('/ui-icons/share.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;

  z-index: 2;
}
// #endregion

// #region project-price
.priceCard {
  display: flex;
  flex-direction: column;

  padding-top: 13px;
  padding-bottom: 18px;
  padding-left: 28px;
  padding-right: 20px;

  background-color: var(--color-neutral1);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  @include bp.desktop {
    width: 359px;
  }
}

.square {
  display: block;
  margin-bottom: 4px;

  color: var(--color-neutral2);
  font-size: var(--font-size-mob-l);
  line-height: 20px;
}

.priceCol {
  display: flex;
  flex-direction: column;
}

.startPrice {
  margin-bottom: 9px;

  font-size: 26px;

  @include bp.desktop {
    font-size: var(--font-size-xxl);
  }
}

.oldPrice {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-neutral8);
  text-decoration: line-through;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 30px;

  @include bp.desktop {
    flex-direction: column;
  }
}

.discountContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.discountPrice {
  font-size: var(--font-size-mob-xl);
  font-weight: 700;
  color: var(--accent-color);

  position: relative;
}
.arrowDownAccent {
  width: 10px;
  height: 16px;
}
// #endregion

// #region project-buttons
.greenButton {
  padding: 20px 40px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 12px;

  font-size: 16px;
  color: var(--color-neutral1);

  @include bp.desktop {
    width: 321px;
    border-radius: 16px;

    font-size: 22px;
  }
}

// #endregion

.accordionList {
  @include bp.desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include bp.desktop-1200 {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

.projectContainer {
  @include bp.desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include bp.desktop-1200 {
    width: 1200px;
    margin: 0 auto;
    margin-top: 38px;
  }
}
