.container {
  padding: 0 20px;
  width: 100%;
}

// #region project-slider
.sliderContainer {
  width: 100%;
}

.thumbsSwiper {
  display: none;
}

.sliderImg {
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}
// #endregion

// #region project-price
.priceCard {
  display: flex;
  flex-direction: column;

  padding-top: 13px;
  padding-bottom: 18px;
  padding-left: 28px;
  padding-right: 20px;

  background-color: var(--color-neutral1);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.square {
  display: block;
  margin-bottom: 4px;

  color: var(--color-neutral2);
  font-size: var(--font-size-mob-l);
  line-height: 20px;
}

.priceCol {
  display: flex;
  flex-direction: column;
}

.startPrice {
  margin-bottom: 9px;

  font-size: 26px;
}

.oldPrice {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-neutral6);
  text-decoration: line-through;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.discountContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.discountPrice {
  font-size: var(--font-size-mob-xl);
  font-weight: 700;
  color: var(--accent-color);

  position: relative;
}
.arrowDownAccent {
  width: 10px;
  height: 16px;
}
// #endregion
